.outerContainer {
  position: fixed;

  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 5rem 0rem;
}

.innerContainer {
  background-color: rgb(12, 12, 12);

  width: 100%;
}

.modalHeader {
  background-color: rgb(21, 21, 21);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 0.5rem;
}

.modalBody {
  padding: 0.5rem 0.5rem;
}

@media only screen and (min-width: 600px) {
  .outerContainer {
  }

  .innerContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .innerContainer {
    width: 25%;
  }
}
