.letter {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(33, 33, 33);
  flex: 1;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.letterCorrectSpot {
  background-color: green;
}

.letterWrongSpot {
  background-color: rgb(208, 208, 0);
}

.letterNotInWord {
  background-color: rgb(33, 33, 33);
}

.word {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .letter {
    width: 35px;
    height: 35px;
  }
}
